/* In this file you can add your custom styles. */

.container {
  width: 400px;
  margin: 120px auto 120px;
  background-color: #fff;
  padding: 0 20px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  text-align: center;
}


.avatar {
  border-radius: 100px;
  overflow: hidden;
  height: 150px;
  width: 150px;
  position: relative;
  margin: auto;
  top: -60px;
}

.avatar img {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100px;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}

p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 10px;
  color: #666;
}

.btn {
  background-color: rgb(174, 186, 196);
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 4px solid white;
  font-family: avenir;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 15px;
  margin-bottom: 50px;
}

.btn:hover {
  background-color: rgb(195, 228, 238);
  color: black;
}

